body{
    margin: 0;
    padding: 20px;
}

.carte{
    position: relative;
    width: 50%;
    padding: 2%;
    border: solid 1px dimgrey;
}

p{
    margin: 2px;
}

.text{

    width: 55%;
    padding-top: 15%;
    padding-bottom: 15%;
    padding-left: 1%;
    font-family: Bahnschrift, sans-serif;
    font-size: 14px;
    color: dimgrey;
    border-right: solid 1px dimgrey;
}

.para01{
    padding-bottom: 2%;
}

.para02{
    padding-top: 2%;
}

.adress{
    width: 44%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}

.cadre{
    width: 90%;
    height: 30%;
}

.photo{
    border: solid 1px dimgrey;
    width: 35%;
    height: 100%;
    margin-left: 65%;
    margin-top: 10%
}

.lignes{
    height: 63%;
    padding-left: 10%;
    padding-right: 10%;
}

#ligne01{
    height: 40%;
    border-bottom: solid 1px dimgrey;
}

#ligne02, #ligne03{
    height: 10%;
    border-bottom: solid 1px dimgrey;
}

#ligne04{
    position: relative;
    height: 10%;
    width: 100%;

}

#code{
    padding-top: 2%;
    width: 50%;
    height: 90%;
}

.case{
    display: inline-block;
    height: 90%;
    width: 10%;
    border: solid 1px dimgrey;
}

.ville{
    position: absolute;
    right: 0;
    top :0;
    height: 100%;
    width: 55%;
    border-bottom: solid 1px dimgrey;
}

